main {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.login {
  width: 630px;
  min-height: 625px;
  background: url('img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.login__form {
  width: 405px;
  min-height: 405px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form-img {
  width: 140px;
  height: 130px;
  margin-bottom: 45px;
}

.login__form__line {
  display: flex;
}

.login__form-input-icon {
  width: 50px;
  height: 45px;
}

.login__form-input {
  background: url('img/uesr-input.png');
  border: none;
  width: 374px;
  height: 45px;
  color: #A0A3AB;
  font-size: 18px;
  padding-left: 50px;
  margin-bottom: 25px;
}

.login__form-input2 {
  background: url('img/password-input.png');
  border: none;
  width: 374px;
  height: 45px;
  color: #A0A3AB;
  font-size: 18px;
  padding-left: 50px;
  margin-bottom: 25px;
}

.login__form__bottom {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.login__form__bottom__left {
  width: 50%;
  display: flex;
}

.login__form__bottom__left-label {
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
}

.login__form__bottom__right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.login__form__bottom__right-link {
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
  font-size: 13px;
  font-style: italic;
  padding-right: 5px;
}

.login__form-btn {
  text-transform: uppercase;
  color: rgba(255, 255, 255, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .35);
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: .2s;
  pointer-events: none;
}

.login__form-btn:hover {
  background: rgba(0, 0, 0, .3);
}

.login__form-btn:active {
  background: rgba(0, 0, 0, .4);
}

#loginBtn.active {
  pointer-events: auto;
}